.card {
 margin:  20px 0px 25px 0px;
 border: 1px solid rgba(0,0,0,.05);
 -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.02);
 box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.postgame-scorebar {
    margin-bottom: 10px;
    padding: 5px 15px 5px 15px;
    margin-top: 10px;
    float: left;
    width: 100%;
    text-align: center;
    color: #333;
    border-radius: 5px;
    font-family: Arial;
}

.scorebar-away-score,
.scorebar-home-score {
    font-size: 40px;
    vertical-align: middle;
    font-weight: 600;
}

.scorebar-btn {
    width: 125px;
    margin: 5px 5px 5px 25px;
    color: #fff;
    background-color: #260f54;
    border-color: #b90450;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px;
    text-decoration:none;
}

.scorebar-btn:hover,
.scorebar-btn:active:hover,
.scorebar-btn:focus,
.scorebar-btn:active {
    background-color: #00798d;
    text-decoration:none;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.scorebar-quarter {
    font-size: 25px;
    font-weight: 600;
    vertical-align: middle;
}

.scorebar-quarter,
.scorebar-away-team,
.scorebar-away-logo,
.scorebar-away-score,
.scorebar-vs,
.scorebar-home-team,
.scorebar-home-score,
.scorebar-home-logo,
.game-tracker {
    display: inline-block;
    padding: 3px;
}

element.style {
    max-width: 88px;
}

object {
    border: 0;
    vertical-align: middle;
}

img {
    border: 0;
    vertical-align: middle;
}

.scorebar-vs {
    font-size: 20px;
    vertical-align: middle;
}

 @media only screen
and (min-width : 300px)
and (max-width : 600px) {

  .scorebar-quarter,
  .scorebar-away-team,
  .scorebar-away-logo,
  .scorebar-away-score,
  .scorebar-vs,
  .scorebar-home-team,
  .scorebar-home-logo,
  .game-tracker {
    display: inline-block;
    padding: 5px;
    }

  .scorebar-quarter {
        width: 100%;
    }

    .postgame-scorebar {
    padding: 15px 15px 20px 15px;

    }

    .scorebar-btn {
        margin: 5px 175px 5px 5px;
    }

    .game-tracker {
        width: 100%
    }

    .scorebar-away-logo object {
        width: 65%;
    }

    .scorebar-home-logo object {
        width: 65%;
    }

    /* Images */
    .scorebar-away-logo img {
        width: 65%;
    }

    .scorebar-home-logo img {
        width: 65%;
    }

}

.scorebar-away-logo object {
    max-width: 88px;
}

.scorebar-home-logo object {
    max-width: 88px;
}

.scorebar-away-logo img {
    max-width: 88px;
}

.scorebar-home-logo img {
    max-width: 88px;
}
