<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NBA Scoreboard App</title>
  <!-- Styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

</head>

<body onload="onStart()">

  <div class="container">
    <header class="header clearfix text-center">
      <h3 class="text-muted heading"><img class="nba-logo" src="http://diylogodesigns.com/blog/wp-content/uploads/2016/06/NBA-logo-png-download-free.png" alt=""> Scorebaord</h3>
    </header>
    <main role="main">
      <h5 class="text-muted text-center">Games played for <span id="date"></span> </h5>
      <div id="app-container"></div>
    </main>
    <footer class="footer">
      <p>Scorebaord App &copy; 2017</p>
    </footer>
  </div>
  <!-- /container -->

  <!-- Handlebars Template -->
  <script id="app-template" type="text/x-handlebars-template">

    {{#each games}}
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">

            <div class="postgame-scorebar">
              <!-- scorebar-away-score -->
              <div class="scorebar-away-team">

                <div class="scorebar-away-logo">
                  <img alt="" abbr={{vTeam.triCode}} type="image/svg+xml" src="https://stats.nba.com/media/img/teams/logos/{{vTeam.triCode}}_logo.svg" />
                </div>
                <div class="scorebar-away-score score" id="scorebar-away-score">{{vTeam.score}}</div>

              </div>
              <!-- / scorebar-away-team -->
              <div class="scorebar-vs text-muted">vs</div>

              <!-- scorebar-home-team -->
              <div class="scorebar-home-team">
                <div class="scorebar-home-score score" id="scorebar-home-score">{{hTeam.score}}</div>
                <div class="scorebar-home-logo">
                  <img abbr={{hTeam.triCode}} type="image/svg+xml" src="https://stats.nba.com/media/img/teams/logos/{{hTeam.triCode}}_logo.svg" />
                </div>


              </div>
              <!-- / scorebar-home-team-->

            </div>
            <!-- / postgame-scorebar -->

          </div>
        </div>
      </div>
    </div>
    {{/each}}

  </script>

  <!-- Script -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  <script src="js/app.js"></script>
</body>

</html>
